{% extends 'base.html' %}

{% load staticfiles %}

{% block header %} {% endblock header %}
{% block smalltitle %} Customer {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">

        {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
        {% endfor %}

        <div class="widget">
            <div class="widget-body">
                <a href="{% url 'order:create_customer' %}"><button type="button" class="btn btn-primary"><i class=" fa fa-plus"></i> Create a New</button></a></a>
                <hr/>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            {% if orderku %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        <!-- more info about forloop : https://docs.djangoproject.com/en/1.9/ref/templates/builtins/#for -->

                        {% for order in orderku %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order.name }}</td>
                            <td>{{ order.email }}</td>
                            <td>{{ order.phone }}</td>
                            <td>{{ order.address}}</td>
                            <td>
                                <a class="btn btn-info btn-xs" href="{% url 'order:edit_customer' order.uuid %}"><i class=" fa fa-edit"></i> Edit<a/>
                                <a class="btn btn-danger btn-xs" href="{% url 'order:delete_customer' order.uuid %}"><i class=" fa fa-trash"></i> Delete<a/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>`
{% endblock content %}

{% block footer %}
{% endblock footer %}
